GardenCommunity/GardenCommunity.Business/bin/
GardenCommunity/GardenCommunity.Business/obj/
GardenCommunity/GardenCommunity.ConsoleApp/bin/Debug/
GardenCommunity/GardenCommunity.ConsoleApp/obj/Debug/
GardenCommunity/GardenCommunity.DAL/bin/
GardenCommunity/GardenCommunity.DAL/obj/