GardenCommunity/GardenCommunity.Web/obj/
GardenCommunity/GardenCommunity.Web/bin/
GardenCommunity/GardenCommunity.Common/bin/
GardenCommunity/GardenCommunity.Common/obj/
GardenCommunity/GardenCommunity.Business/bin/
GardenCommunity/GardenCommunity.Business/obj/
GardenCommunity/GardenCommunity.DependencyResolver/bin
GardenCommunity/GardenCommunity.DependencyResolver/obj
GardenCommunity/GardenCommunity.DataAccess/bin/
GardenCommunity/GardenCommunity.DataAccess/obj/