GardenCommunity/GardenCommunity.Web/obj/
GardenCommunity/GardenCommunity.Web/bin/
GardenCommunity/GardenCommunity.Common/bin/
GardenCommunity/GardenCommunity.Common/obj/
GardenCommunity/GardenCommunity.Business/bin/
GardenCommunity/GardenCommunity.Business/obj/
GardenCommunity/GardenCommunity.ConsoleApp/
GardenCommunity/GardenCommunity.Business.4.6/
GardenCommunity/GardenCommunity.DAL/
GardenCommunity/GardenCommunity.Web_Old/