
@{
    ViewData["Title"] = "SuccessfulRegistration";
}

<h2>Congratulations! You have successfully registered</h2>
@Html.ActionLink("Login", "Login", "Login", null, new { @class = "btn btn-primary" })

